<p id="notice"><%= notice %></p>

<h1>Listing Att Details</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Att master</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @att_details.each do |att_detail| %>
      <tr>
        <td><%= att_detail.status %></td>
        <td><%= att_detail.att_master %></td>
        <td><%= att_detail.student %></td>
        <td><%= link_to 'Show', att_detail %></td>
        <td><%= link_to 'Edit', edit_att_detail_path(att_detail) %></td>
        <td><%= link_to 'Destroy', att_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Att detail', new_att_detail_path %>
