<%= form_for(@stu_reg_semester) do |f| %>
  <% if @stu_reg_semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stu_reg_semester.errors.count, "error") %> prohibited this stu_reg_semester from being saved:</h2>

      <ul>
      <% @stu_reg_semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.text_field :semester_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
