<p id="notice"><%= notice %></p>

<h1>Listing Stu Reg Semesters</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stu_reg_semesters.each do |stu_reg_semester| %>
      <tr>
        <td><%= stu_reg_semester.student %></td>
        <td><%= stu_reg_semester.semester %></td>
        <td><%= link_to 'Show', stu_reg_semester %></td>
        <td><%= link_to 'Edit', edit_stu_reg_semester_path(stu_reg_semester) %></td>
        <td><%= link_to 'Destroy', stu_reg_semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stu reg semester', new_stu_reg_semester_path %>
