<p id="notice"><%= notice %></p>

<p>
  <strong>Coursecode:</strong>
  <%= @course.coursecode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Offersemester:</strong>
  <%= @course.offersemester %>
</p>

<p>
  <strong>Objectives:</strong>
  <%= @course.objectives %>
</p>

<p>
  <strong>Program:</strong>
  <%= @course.program.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>
<p>
  <strong>End:</strong>
  <%= @course.end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
